body {
	background-color: aliceblue;
	h2 {
		text-align: center;
	}
	main {
		display: flex;
		justify-content: center;
		max-width: 60vw;
		div {
			border: 2px solid black;
			flex: 1;
			display: grid;
			place-items: center;
			padding: 5vw;
			cursor: pointer;
		}
		img {
			max-width: 100%;
			flex: 3;
		}
	}
	footer {
		text-align: right;
	}
}
