body{
    font-family: 'Comforter Brush', sans-serif;
  }
  .container{
    border:2px solid #000;
    display:flex;
    justify-content: space-around;
  }
  .container div{
    border:2px dashed green;
    margin:10px;
    padding:10px;
  }