* {
	margin: 0;
	padding: 0;
}

div {
	border: 2px solid black;
}

body > div {
	height: 40vh;
	/* width: 100vw; */
	display: flex;
}

body > .logo {
	justify-content: flex-end;
	padding: 10px;
}

.logoWrapper1 {
	display: flex;
	flex-direction: column;
}

.logoWrapper2 {
	display: flex;
}

.logoWrapper2 > div {
	flex: 1;
	/* border: none; */
}

a {
	text-decoration: none;
	color: inherit;
}

.jpg {
	background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw1/logo_sprites.jpg);
	background-repeat: no-repeat;
	width: 500px;
	height: 200px;
}

/* absolutne */

.absolute {
	flex-direction: column;
	padding: 20px;
}

.absolute {
	display: block;
	flex: 2;
	padding: 10px 8px 30px 8px;
}

.legend-chartX {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

.legend-chartX > div {
	border: none;
}

.absolute > .chartX {
	flex: 10;
	display: flex;
	justify-content: space-around;
	padding: 0 0 20px 0;
}

.chartX > div {
	width: 5%;
}

.chartX > div:nth-child(1) {
	height: 50px;
	background-color: blue;
}

.chartX > div:nth-child(2) {
	height: 5cm;
	background-color: rgb(123, 256, 256);
}

.chartX > div:nth-child(3) {
	height: 40mm;
	background-color: #e34;
}

.chartX > div:nth-child(4) {
	height: 10pt;
	background-color: #bca;
}

.chartX > div:nth-child(5) {
	height: 5pc;
	background-color: rgb(256, 216, 216);
}

/* relatywne */

.relative {
	flex-direction: column;
	padding: 20px;
}

.relative {
	display: block;
	flex: 2;
	padding: 10px 8px 30px 8px;
}

.legend-chartY {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

.legend-chartY > div {
	border: none;
}

.relative > .chartY {
	flex: 10;
	display: flex;
	justify-content: space-around;
	padding: 0 0 20px 0;
}

.chartY > div {
	width: 5%;
}

.chartY > div:nth-child(1) {
	height: 80%;
	background-color: blue;
}

.chartY > div:nth-child(2) {
	height: 4em;
	background-color: rgb(123, 256, 256);
}

.chartY > div:nth-child(3) {
	height: 4rem;
	background-color: #e34;
}

.chartY > div:nth-child(4) {
	height: 10vw;
	background-color: #bca;
}

.legend-chartX,
.legend-chartY {
	border: none;
}
