* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 150vh;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25vh;
	font-size: 60px;
	text-decoration: none;
	color: white;
	padding: 30px;
	transition: 0.5s;
}

/* a:hover {
	font-size: 80px;
} */
p.first {
	color: white;
	font-size: 30px;
	margin: 80px 0px 80px;
}

.wrapper {
	margin: 10px 80px 0 80px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"b1 b2 b4"
		"b3 b5 b4";
	gap: 10px;
}

.wrapper a:nth-child(1) {
	grid-area: b1;
	background-color: rgb(192, 15, 62);
}
.wrapper a:nth-child(2) {
	grid-area: b2;
	background-color: rgb(34, 0, 255);
}
.wrapper a:nth-child(3) {
	grid-area: b3;
	background-color: rgb(23, 200, 23);
}
.wrapper a:nth-child(4) {
	grid-area: b4;
	background-color: yellow;
}
.wrapper a:nth-child(5) {
	grid-area: b5;
	background-color: purple;
}

footer {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0px;
	padding: 30px;
	width: 100vw;
	background-color: white;
}

footer p {
	color: black;
	font-size: 20px;
}

@media (max-width: 720px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: "b1" "b2" "b3" "b4" "b5";
	}
	a {
		max-width: 400px;
	}
}
